*{
    margin: 0px;
    padding: 0px;
}
.top{
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21,21,21);
}

#logo{
    width: 250px;
}

.nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    background-color: rgb(82,80,80);
}

.nav button{
    border: none;
    background-color: rgb(82,80,80);
    padding: 5px 10px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: white;
    height: 70px;
}
#anpbtn{
    background-color: white;
    color: rgb(82,80,80);
}

.nav button:hover{
    background-color: white;
    color: rgb(82,80,80);
}