*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #eeeeee;
}
.contener{
    border: solid red 0px;
    text-align: center;
}

img{
    width: 150px;  
    border-radius: 10px;
    margin: 2rem;
}

.box{
    width: 665px;
    margin: auto;
    border: solid red 0px;
    background-color: #ffffff;
    padding-bottom: 20px;
}

.js{
    border: solid red 0px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

#join{
    height: 100%;
    width: 47%;
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: solid

}
#sign{
    height: 100%;
    width: 47%;
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: solid;
}
h2{
    margin: 2rem;
}
.gaf{
    border: solid red 0px;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 2rem;
}
.gaf>div{
    border: solid black 2px;
    border-color: rgb(203, 201, 223);
    display: flex;
    height: 100%;
    width: 32%;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
}
.gaf>div>h3{
    font-size: 17px;
}
.gaf>div>img{
    width: 20px;
}
.sd>p{
    font-size: 19px;
}
#h2{
    margin: 3rem;
}
.inputs{
    border: solid red 0px;
    width: 400px;
    margin: auto;
    text-align: left;
}
.inputs>input{
    width: 100%;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#rink{
    font-size: 15px;
    color: #767676;
    margin-bottom: 25px;
}
.ft{
    font-weight: bold;
    color: #767676;
}
#gen{
    margin-top: 15px;
    margin-bottom: 20px;
}
#wom{
    margin-left: 17px;
    margin-right: 20px;
}
#men{
    margin-left: 17px;
}

/* ------------- */

.btn {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.btn:hover,
.btn:focus {
  opacity: .75;
}

/* ------------- */

.policy{
    margin: 20px;
}
.policy>a{
    color: black;
    
}

